{%extends 'folders/base.html'%}
{% block para %}
 {% include 'folders/includes/error.html'%}
<center>
      <br><br><br>
  <form method="POST" class="form-group p-4 bg-light col-5 mt-5 " autocomplete="off">
    {% csrf_token %}
    <h1 class="text-capitalize fw-bolder">Forget Password</h1>
    <input type="email" name="email" class="form-control mt-4" placeholder="Enter your email" required><br><br>
    <button class="btn btn-primary">Send Reset Link</button><br>
  </form>
</center>
{% endblock %}
